altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
decorator
distro
exceptiongroup
ffmpeg
fpdf
gitdb
GitPython
h11
httpcore
httpx
idna
imageio
imageio-ffmpeg
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
moviepy
numpy
openai
packaging
pandas
pillow
proglog
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
PyPDF2
python-dateutil
python-dotenv
pytube
pytz
referencing
requests
rich
rpds-py
six
smmap
sniffio
streamlit
streamlit-pdf-viewer
tenacity
toml
toolz
tornado
tqdm
typing_extensions
tzdata
urllib3
